
    
    <div class="invoice-container">
        <div  class="success-message">
            <div class="success-icon">✔️</div>
            <h2>Booking Confirmed!</h2>
            <p>Your trip has been successfully booked.</p>
            <button (click)="goToMyBookings()" class="btn-primary">View My Bookings</button>
        </div>
        <br>
        <div class="invoice-header">
          <img src="../assets/image/Train_icon.jpg" alt="Logo" class="nav-logo">
          <h1>Train Trip Invoice</h1>
        </div>
      
        <div class="invoice-details">
          <div class="row">
            <div *ngIf="user" class="col">
              <h2>Passenger Information</h2>
              <p> {{user.username}} </p>
              <p> {{user.email}} </p>
            </div>
            <div  class="col">
              <h2>Invoice Details</h2>
              <p>Invoice #:  {{invoiceNum}} </p>
              <p>Date:  {{currentDate | date:'short'}} </p>
            </div>
          </div>
      
          <div class="row">
            <div *ngIf="trip" class="col">
              <h2>Journey Details</h2>
              <p>From: {{trip.originstation}} </p>
              <p>To:  {{trip.destinationstation}} </p>
              <p>Date:  {{trip.departuretime | date}} </p>
            </div>
            <div *ngIf="trip" class="invoice-summary">
              <h3>Total Amount Paid:  {{trip.price}}$ </h3>
            </div>
        </div>
    </div>

  
</div>
      