<div mat-dialog-content>
    <h2 mat-dialog-title>Create New Trip</h2>
    <form [formGroup]="updateForm" (ngSubmit)="save()">
      <mat-form-field class="example-full-width">
        <mat-label>Train Station Origin</mat-label>
        <mat-select formControlName="originstationid">
          <mat-option *ngFor="let station of filteredStationsForOrigin" [value]="station.stationid">
            {{ station.stationname }}
          </mat-option>
        </mat-select>
        <mat-hint align="end"></mat-hint>
        <mat-error *ngIf="updateForm.controls['originstationid'].hasError('required')">
          Trip Origin Station is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Train Station Destination</mat-label>
        <mat-select formControlName="destinationstationid">
          <mat-option *ngFor="let station of filteredStationsForDestination" [value]="station.stationid">
            {{ station.stationname }}
          </mat-option>
        </mat-select>
        <mat-hint align="end"></mat-hint>
        <mat-error *ngIf="updateForm.controls['destinationstationid'].hasError('required')">
          Trip Destination Station is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Trip Depature</mat-label>
        <!-- <input  placeholder="Date Time" matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" formControlName="departuretime">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> -->
        <input matInput [(ngModel)]="date" [owlDateTime]="picker" placeholder="Date Time"  formControlName="departuretime">
        <owl-date-time #picker></owl-date-time>
        <span [owlDateTimeTrigger]="picker" class="trigger">
          <i class="fa fa-calendar"></i>
        </span>
        
        <!-- <owl-date-time [pickerType]="'both'" [(ngModel)]="selectedDate"></owl-date-time>
        <owl-date-time-inline [(ngModel)]="selectedDate"></owl-date-time-inline> -->
        <mat-error *ngIf="updateForm.controls['departuretime'].hasError('required')">
          Trip Depature Time is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <!-- <h2>{{date | json}}</h2> -->
  
      <mat-form-field class="example-full-width">
        <mat-label>Trip Duration</mat-label>
        <input type="number" matInput formControlName="duratointime">
        <mat-error *ngIf="updateForm.controls['duratointime'].hasError('required')">
          Trip Duration Time in minutes is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Trip Available Seats</mat-label>
        <input type="text" matInput formControlName="availableseats">
        <mat-error *ngIf="updateForm.controls['availableseats'].hasError('required')">
          Trip Available Seats is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <mat-label>Trip Price</mat-label>
        <input type="number" matInput formControlName="price">
        <mat-error *ngIf="updateForm.controls['price'].hasError('required')">
          Trip Price is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  
      <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit" cdkFocusInitial>Create</button>
      </mat-dialog-actions>
    </form>
  </div>
  