<body class="with-welcome-text">
  <div class="container-scroller">
      <div class="row p-0 m-0 proBanner" id="proBanner">
          <div class="col-md-12 p-0 m-0"></div>
      </div>

      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
          <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
              <div class="me-3">
                  <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                      <span class="icon-menu"></span>
                  </button>
              </div>
              <div>
                  <a class="navbar-brand brand-logo" routerLink="/admin/dashboard">Train Tracker</a>
              </div>
          </div>
      </nav>

      <div class="container-fluid page-body-wrapper">
          <app-sidebar></app-sidebar>
            <div class="row gy-5">
                <div *ngFor="let testimonial of testimonials" class="col-md-4">
                  <div class="testimonial-card">
                    <div class="testimonial-content">
                      <div class="testimonial-header">
                        <div>{{ testimonial.username }}</div>
                        <div [ngClass]="{'approved': testimonial.status === 'Approve', 'not-approved': testimonial.status !== 'Approve'}" class="status">
                          {{ testimonial.status }}
                        </div>
                      </div>
                      <h3 class="testimonial-text">
                        {{ testimonial.content }}
                      </h3>
                      <div class="testimonial-date">
                        {{ testimonial.createdat | date: 'short' }}
                      </div>
                      <form (ngSubmit)="handleTestimonialAction(testimonial.testimonialid, testimonial.status)" class="testimonial-form">
                        <button type="submit" [ngClass]="{
                          'approve-btn': testimonial.status !== 'Approve',
                          'reject-btn': testimonial.status === 'Approve'
                        }">
                          {{ testimonial.status === 'Approve' ? 'Delete From Home Page' : 'Add To Home Page' }}
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              
              