<app-navbar></app-navbar>
<!-- Background image -->
<div
class=" text-center bg-image"
style="
  background-image: url('https://www.arabnews.com/sites/default/files/styles/n_670_395/public/2017/11/22/1039046-1376913659.jpg?itok=NolLzJUq');
  background-repeat: no-repeat;
  background-size: cover;
  height: 423px;

"
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
  <div class="d-flex justify-content-center align-items-center h-100 p-5">
    <div class="text-white p-4">
      <h1 class="mb-3 p-5">TrainStation</h1>
      <h4 class="mb-3 p-4">About Us</h4>
      <a class="btn btn-outline-light btn-lg" href="#!" role="button">Start</a>
    </div>
  </div>
</div>
</div>
<!-- Background image -->

<div class="d-flex justify-content-center mt-3">

<div class="card mb-3" style="max-width: 740px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/image/Train1.jpg" class="img-fluid rounded-start" alt="">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">TrainStation</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo non doloremque ducimus impedit voluptatem facere? Architecto veritatis vel reiciendis molestiae dolore accusamus, culpa esse totam, ab, neque asperiores hic? Delectus.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">

<div class="card mb-3" style="max-width: 740px;">
    <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">TrainStation</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta maiores ipsa ab! Recusandae expedita nam maxime repudiandae quis, voluptas assumenda dolores, fugit quidem ea aut tenetur fuga fugiat voluptate?</p>
          </div>
        </div>
        <div class="col-md-4">
          <img src="assets/image/Train2.jpg" class="img-fluid rounded-end" alt="">
        </div>
    </div>
</div>
</div>


<app-footer></app-footer>