/* landing-page.component.css */

.hero-section {
  background: url('src/assets/image/Train1.jpg') no-repeat center center/cover;
  color: #ffffff;
  padding: 5rem 0;
  text-align: center;
  height: 80vh; /* Match the height from the first style */
  overflow: hidden; /* To align with the first style */
}

.hero-title {
  font-size: 4em; /* Match font size from the first style */
  font-weight: 300;
  margin-bottom: 20px; /* Adjust as needed */
  animation: fadeIn 2s;
}

.hero-subtitle {
  font-size: 1.5em;
  margin-bottom: 30px; /* Adjust margin as needed */
  animation: fadeIn 3s;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.testimonial_section {
  width: 100%;
  background-color: #333;
  padding: 90px 0 150px;
}

.testimonial_taital {
  font-size: 2.5em;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  animation: fadeIn 2s;
}

.client_name_text {
  font-size: 1.5em;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}

.textimonial_text {
  background-color: #ffffff;
  padding: 40px;
  color: #0d0d0d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-weight: 300;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Define the keyframes for the initial animation */
@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Apply the animation to the about image */
.about-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInZoom 1.5s ease-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for the image */
.about-image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}
.contact {
  background-color: #f8f8f8;
  padding: 60px 0;
}

.contact-title {
  font-size: 2.5em;
  font-weight: 600;
  color: #333;
  margin-bottom: 40px;
}

.contact-info {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #555;
}

.contact-info strong {
  font-weight: 600;
  color: #333;
}
