<app-signed-navbar></app-signed-navbar>
    <div *ngIf="bookings.length > 0" class="trips-container">
      <h2>Available Trips</h2>
      <div *ngFor="let bookings of bookings" class="trip-card">
        
        <!-- Trip Header with Basic Information -->
        <div class="trip-header">
          <strong>Leaving From:</strong> <h5>{{ bookings.origin_station }}</h5>
          <strong>Arriving To:</strong> <h5>{{ bookings.destination_station }}</h5>
        </div>
        
        <!-- Time and Duration Details -->
        <div class="details">
          <div class="time-details">
            <p><strong>Departure:</strong> {{ bookings.departuretime | date:'short' }}</p>
            <p><strong>Duration:</strong> {{ bookings.duratointime }} minutes</p>
            <p><strong>Arrival:</strong> {{ bookings.arrivaltime | date:'short' }}</p>
          </div>
          
          <!-- Availability and Pricing -->
          <div class="availability-pricing">
            <p><strong>Price:</strong> ${{ bookings.price }}</p>
          </div>
        </div>
        
        <!-- Book Button or No Seats Message -->
        <div class="book-button-container">
          <p *ngIf="bookings.departuretime === 0" class="no-seats-message">No seats available for this trip</p>
        </div>
        
      </div>
    </div>
    
    
    
  
  
    <div *ngIf="bookings.length === 0 " class="no-trips-message">
      <p>No trips available for the selected criteria.</p>
    </div>
 
  
  

  
<app-footer></app-footer>