<div class="container booking-container">
  <h1>Book Your Travel</h1>
  <form [formGroup]="BookingForm" (ngSubmit)="bookTravel()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Origin</mat-label>
          <mat-select formControlName="originstationid">
            <mat-option *ngFor="let station of filteredStationsForOrigin" [value]="station.stationid">
              {{ station.stationname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Destination</mat-label>
          <mat-select formControlName="destinationstationid">
            <mat-option *ngFor="let station of filteredStationsForDestination" [value]="station.stationid">
              {{ station.stationname }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Departure Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="departuretime">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button mat-raised-button color="primary" class="btn-block" type="submit" [disabled]="BookingForm.invalid">Book Now</button>
      </div>
    </div>
  </form>
</div>
