<div class="container testimonials-section py-5 ">
  <h2 class="mb-5">What Our Customers Say</h2>
<form [formGroup]="upForm" (ngSubmit)="save()">
    <label for="content">Content:</label>
    <textarea id="content" formControlName="content"></textarea>
    <mat-error *ngIf="upForm.controls['content'].hasError('required')">
      Content Name is <strong>required</strong>
    </mat-error>
  
    <!-- Hidden User ID Field -->
    <input id="userid" formControlName="userid" type="hidden">
  
    <!-- Hidden Created At Field -->
   
  
    <button type="submit" [disabled]="upForm.invalid">Submit</button>
  </form>
</div>