<div class="container testimonials-section py-5 ">
  <h2 class="mb-5">Write your opinion </h2>
<form [formGroup]="upForm" (ngSubmit)="save()">
    <label for="content">Content:</label>
    <textarea id="content" formControlName="content"></textarea>
    <mat-error *ngIf="upForm.get('contnet')?.hasError('required')">
      Content Name is <strong>required</strong>
    </mat-error>
  
    <!-- Hidden User ID Field -->
    <input id="userid" formControlName="userid" type="hidden">
  
    <input id="status" formControlName="status" type="hidden">
   
  
    <button type="submit" [disabled]="upForm.invalid">Submit</button>
  </form>
</div>