<app-navbar></app-navbar>
<section class="contact py-5">
    <div class="container">
      <h2 class="contact-title text-center">Contact Us</h2>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="contact-info" *ngFor="let contact of home.contact">
            <p><strong>ADDRESS:</strong>{{contact.address}} </p>
            <p><strong>Email:</strong> {{contact.email}}</p>
            <p><strong>PHONE:</strong>{{contact.phone}} </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<app-footer></app-footer>