<div class="container mt-5" *ngIf="currentTestimonials.length > 0">
  <h2 class="mb-5 text-center">What Our Customers Say</h2>
  <div id="testimonial-slider" class="owl-carousel">
    <div class="item" *ngFor="let testimonial of currentTestimonials">
      <div class="testimonial">
        <div class="testimonial-content">
          <p>"{{ testimonial.content }}"</p>
        </div>
        <h3 class="testimonial-title">
          <a>{{ testimonial.username || 'Anonymous' }}</a>
        </h3>
      </div>
    </div>
  </div>
</div>