.navbar {
  background-color: #0b305a; /* Dark background for the navbar */
  color: #fff; /* White text color */
  position: relative; /* Set the position to relative */
  z-index: 1000; /* Optional: Ensures the navbar stays above other content */
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-logo {
  height: 40px;
  margin-right: 1rem;
}

.spacer {
  flex: 1;
}

button[mat-button] {
  color: #fff; /* White text color for buttons */
}
