<body class="with-welcome-text">
    <div class="container-scroller">
      <div class="row p-0 m-0 proBanner" id="proBanner">
        <div class="col-md-12 p-0 m-0">
        </div>
      </div>
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <div class="me-3">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
              <span class="icon-menu"></span>
            </button>
          </div>
          <div>
            <a class="navbar-brand brand-logo" routerLink="/admin/dashboard">
              Train Tracker
            </a>
          </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
          <ul class="navbar-nav">
            <li class="nav-item fw-semibold d-none d-lg-block ms-0">
              <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">John Doe</span></h1>
              <h3 class="welcome-sub-text">Your performance summary this week</h3>
            </li>
          </ul>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <app-sidebar></app-sidebar>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="home-tab">
                  <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="statistics-details d-flex align-items-center justify-content-between">
                            <div>
                              <p class="statistics-title">Revinue</p>
                              <h3 class="rate-percentage">{{totalRevinue}}$</h3>
                            </div>
                            <div>
                              <p class="statistics-title">Train Stations</p>
                              <h3 class="rate-percentage">{{numberOfTrainStations}}</h3>
                            </div>
                            <div>
                              <p class="statistics-title">Booked Trips</p>
                              <h3 class="rate-percentage">{{numberOfBookedTrips}}</h3>
                            </div>
                            <div class="d-none d-md-block">
                              <p class="statistics-title">Active Users</p>
                              <h3 class="rate-percentage">{{numberOfUsers}}</h3>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 d-flex flex-column">
                          <div class="row flex-grow">
                            <div class="col-12 grid-margin stretch-card">
                              <div class="card card-rounded">
                                <div class="card-body">
                                  <h4 class="card-title">User Details</h4>
                                  <!-- Search input -->
                                  <div class="mb-4">
                                    <input type="text" class="form-control" placeholder="Search by Username or email" [(ngModel)]="searchTerm">
                                  </div>
                                  <div class="table-responsive mt-4">
                                    <table class="table table-striped table-bordered"
                                      *ngIf="(users | usersFilter:searchTerm).length > 0; else noResults2">
                                      <thead>
                                        <tr>
                                          <th>ID</th>
                                          <th>Name</th>
                                          <th>Username</th>
                                          <th>Email</th>
                                          <th>Joined At</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let user of users | usersFilter:searchTerm">
                                          <td>{{ user.userid }}</td>
                                          <td>{{ user.firstname }} {{ user.lastname }}</td>
                                          <td>{{ user.username }}</td>
                                          <td>{{ user.email }}</td>
                                          <td>{{ user.createdat | date: 'yyyy-MM-dd' }}</td>
                                        </tr>
                                        <tr *ngIf="(users | usersFilter:searchTerm).length === 0">
                                          <td colspan="5">No users found.</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <ng-template #noResults2>
                                      <div class="alert alert-info" role="alert">
                                        No users found matching your search criteria.
                                      </div>
                                    </ng-template>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-lg-12 d-flex flex-column">
                          <div class="row flex-grow">
                            <div class="col-12 grid-margin stretch-card">
                              <div class="card card-rounded">
                                <div class="card-body">
                                  <h4 class="card-title">Active Trips Details</h4>
                                  <!-- Search input -->
                                  <div class="mb-4">
                                    <input type="text" class="form-control" placeholder="Search by name" [(ngModel)] ="tripSearch">
                                  </div>
                                  <div class="table-responsive mt-4">
                                    <table class="table table-striped table-bordered" *ngIf="(trips | tripsFilter:tripSearch).length > 0; else noResults">
                                        <thead>
                                            <tr>
                                              <th>ID</th>
                                              <th>Leaving From</th>
                                              <th>Arriving At</th>
                                              <th>Departure</th>
                                              <th>Duration</th>
                                              <th>Arrival Time</th>
                                              <th>Available Seats</th>
                                              <th>Ticket Price</th>                                      
                                                  </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let trip of trips | tripsFilter:tripSearch">
                                              <td>{{ trip.tripid }}</td>
                                              <td>{{ trip.originstation }}</td>
                                              <td>{{ trip.destinationstation }}</td>
                                              <td>{{ trip.departuretime | date:'short' }}</td>
                                              <td>{{ trip.duratointime }} minutes</td>
                                              <td>{{ trip.arrivalTime | date:'short' }}</td> <!-- Display the calculated arrival time -->
                                              <td>{{ trip.availableseats }}</td>
                                              <td>{{ trip.price }} $</td>                                            
                                            </tr>
                                            <tr *ngIf="trips.length === 0">
                                                <td colspan="7">No upcoming trips found.</td>
                                              </tr>
                                          </tbody>
                                      </table>

                                      <ng-template #noResults>
                                        <div class="alert alert-info" role="alert">
                                          No trips found matching your search criteria.
                                        </div>
                                      </ng-template>                     
                                  </div>
                                </div>
                              </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  