<!-- <ngx-spinner bdColor = "rgba(0,0,45,0.8)" size = "medium" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Payment procec... </p></ngx-spinner> -->

  <div class="payment-container">
    
    <div class="payment-summary">
      <button (click)="goBack()" class="back-button">
        &larr; Back
      </button>
      
      <h2>Booking Summary</h2>
        
        
      <div *ngIf="trip">
        <table>
            <tr>
                <th>From:</th>
                <th>To:</th>
            </tr>
            <tr>
                <td>{{trip.originstation}}</td>
                <td>{{trip.destinationstation}}</td>
                
            </tr>
            <tr>
                <th>Date:</th>
                <th>Duration:</th>
            </tr>
            <tr>
                <td>{{trip.departuretime | date:'short'}}</td>
                <td>{{trip.duratointime}} mins</td>
            </tr>
            
    </table>
      </div>
      <hr>
      <h3>Trip price:{{trip?.price}}$ </h3>
    </div>
  
    <div class="payment-form-container">
      <h2>Payment Details</h2>
      <form  class="payment-form"  [formGroup]="paymentForm" (ngSubmit)="handlePayment()">
        <mat-form-field appearance="outline">
          <mat-label>Cardholder Name</mat-label>
          <input matInput type="text" id="cardName" name="cardName" formControlName="name" required />
        </mat-form-field>
        
        
        <div id="card-element" class="stripe-card-element"></div>
        <button mat-flat-button  type="submit" [disabled]="paymentForm.invalid"  color="primary" class="pay-button">Pay Now</button>
      </form>

      
    </div>
  </div>

  