<mat-toolbar class="navbar">
    <div class="nav-container">
        <img src="../assets/image/Train_icon.jpg" alt="Logo" class="nav-logo">
        <div class="spacer"></div>
        <button mat-button routerLink="/user/home">Home</button>
        <button mat-button routerLink="/about">About Us</button>
        <button mat-button routerLink="/contact">Contact Us</button>
        
        <button mat-button routerLink="/user/myBookings">My Bookings</button>
        <button mat-button routerLink="/user/profile">Profile</button>
        <button mat-button routerLink="/security/login" (click)="signOut()">Logout</button>
    </div>
  </mat-toolbar>
  