<div class="testimonial_section layout_padding">
    <!-- <div class="container">
      <div id="costum_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div >
            <div class="row">
              <div class="col-md-12" >
                <h1 class="testimonial_taital">TESTIMONIALS</h1>
                <div class="testimonial_section_2" *ngFor="let testimonial of testimonials">
                  <h2 class="client_name_text">{{ testimonial.username }}
                    <span style="float: right;"><img src="../assets/image/quick-icon.png"></span>
                  </h2>
                  <p class="textimonial_text">{{ testimonial.content }}</p>
                </div>
                
             
              </div>
              
            </div>
            
          </div>
          <button class="carousel-control-prev" role="button" (click)="prevSlide()">
            <i class="fa fa-angle-left"></i>
        </button>
        <button class="carousel-control-next" role="button" (click)="nextSlide()">
            <i class="fa fa-angle-right"></i>
        </button>
        
        </div>
        
      </div>
    </div>
  </div>  -->
  
 <!-- testimonial section end -->

 <div class="container testimonials-section py-5 ">
  <h2 class="mb-5">What Our Customers Say</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let testimonial of testimonials">
      <div class="card testimonial-card mb-4">
        <div class="card-body">
          <p class="card-text">"{{testimonial.content}}"</p>
          <p class="testimonial-author font-weight-bold">- {{testimonial.username}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
