 <!-- Footer-->
 <footer class="footer py-4">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-4 text-lg-start">Copyright &copy; </div>
          <div class="col-lg-4 my-3 my-lg-0">
              <a href="#About" >About</a>
              <a  href="#Testimonials" >Testimonials</a>
              <a  href="#Contact" >Contact</a>
          </div>
          <div class="col-lg-4 text-lg-end">
              <a class="link-dark text-decoration-none me-3" href="#">Privacy Policy</a>
              <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
          </div>
      </div>
  </div>
</footer>
